/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Layers

#define DEF  0
#define CODE 1
#define NAV  2
#define GAME 3
#define SYS  4

/ {
    macros {
       ter: terminal {
            label = "TERMINAL";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LWIN>,
                <&macro_tap &kp R>,
                <&macro_release &kp LWIN>,
                <&macro_pause_for_release>,
                <&macro_tap &kp W &kp T>,
                <&macro_pause_for_release>,
                <&macro_tap &kp RET>;
        };

       shot: screenshot {
            label = "SCREENSHOT_WIN";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LG(LSHFT)>,
                <&macro_tap &kp S>,
                <&macro_release &kp LG(LSHFT)>;
        };

        max: windowmax {
            label = "WINDOWMAX";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LWIN>,
                <&macro_tap &kp UP>,
                <&macro_release &kp LWIN>;
        };

        min: windowmin {
            label = "WINDOWMIN";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LWIN>,
                <&macro_tap &kp DOWN>,
                <&macro_release &kp LWIN>;
        };

        t_col: tmux_column {
            label = "TMUX_COLUMN";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(A) &kp PIPE>;
        };

        t_row: tmux_row {
            label = "TMUX_ROW";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(A) &kp MINUS>;
        };

        t_list: tmux_list {
            label = "TMUX_LIST";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(A) &kp W>;
        };

        t_crt: tmux_create {
            label = "TMUX_CREATE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(A) &kp C>;
        };

        win_col: win_col {
            label = "WIN_COL";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LS(LALT)>,
                <&macro_tap &kp EQUAL>,
                <&macro_release &kp LS(LALT)>;
        };

        win_row: win_row {
            label = "WIN_ROW";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LS(LALT)>,
                <&macro_tap &kp MINUS>,
                <&macro_release &kp LS(LALT)>;
        };
    };

    behaviors {
        th: th {
            compatible = "zmk,behavior-hold-tap";
            label = "TH";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };

        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "HT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
        };

        ter_col: ter_col {
            compatible = "zmk,behavior-tap-dance";
            label = "TER_COL";
            #binding-cells = <0>;
            bindings = <&t_col>, <&win_col>;
        };

        ter_cow: ter_cow {
            compatible = "zmk,behavior-tap-dance";
            label = "TER_COW";
            #binding-cells = <0>;
            bindings = <&t_row>, <&win_row>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEF_layer {
            label = "DEF";
            display-name = "Windows";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                                          &kp N6        &kp N7   &kp N8         &kp N9   &kp N0    &kp MINUS
&kp TAB    &kp Q   &kp W   &kp E     &kp R     &kp T                                           &kp Y         &kp U    &kp I          &kp O    &kp P     &kp LC(TAB)
&kp LCTRL  &kp A   &kp S   &kp D     &kp F     &kp G                                           &kp H         &kp J    &kp K          &kp L    &kp SEMI  &kp LC(TAB)
&kp LCTRL  &kp Z   &kp X   &kp C     &kp V     &kp B         &kp LC(LS(N2))     &ter           &kp N         &kp M    &kp COMMA      &kp DOT  &kp FSLH  &kp DEL
                           &kp LWIN  &kp LALT  &ht CODE ESC  &th LSHFT SPACE    &th LCTRL RET  &lt NAV BSPC  &kp TAB  &kp LC(LSHFT)
            >;
        };

        CODE_layer {
            label = "CODE";
            display-name = "Code";
            bindings = <
&trans  &kp F1    &kp F2    &kp F3     &kp F4     &kp F5                         &kp F6     &kp F7    &kp F8    &kp F9    &kp F10   &kp F11
&trans  &kp EXCL  &kp AT    &kp HASH   &kp DLLR   &kp PRCNT                      &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &kp F12
&trans  &t_crt    &ter_col  &kp GRAVE  &kp MINUS  &kp EQUAL                      &kp LBRC   &kp RBRC  &kp SQT   &kp DQT   &none     &kp LC(LG(D))
&trans  &t_list   &ter_cow  &kp TILDE  &kp PLUS   &kp UNDER  &none     &to GAME  &kp LBKT   &kp RBKT  &kp PIPE  &kp BSLH  &kp DEL   &kp LC(LG(F4))
                            &trans     &trans     &trans     &trans    &trans    &trans     &trans    &trans
            >;
        };

        NAV_layer {
            label = "NAV";
            display-name = "NAV";
            bindings = <
&trans  &none   &none    &none   &none     &none                        &none         &none         &none       &none       &none             &none
&trans  &kp N1  &kp N2   &kp N3  &kp N4    &kp N5                       &kp N6        &kp N7        &kp N8      &kp N9      &kp N0            &none
&trans  &shot   &kp TAB  &max    &kp HOME  &kp PG_UP                    &kp LEFT      &kp DOWN      &kp UP      &kp RIGHT   &kp LC(LG(LEFT))  &kp LC(LG(RIGHT))
&trans  &ter    &none    &min    &kp END   &kp PG_DN  &none     &none   &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PREV  &kp C_NEXT  &kp LA(F9)        &none
                         &trans  &trans    &trans     &trans    &trans  &trans        &trans        &trans
            >;
        };

        GAME_layer {
            label = "GAME";
            display-name = "Game";
            bindings = <
&kp ESC    &kp N1     &kp N2  &kp N3  &kp N4  &kp N5                        &none  &none  &none  &none  &none  &none
&none      &kp TAB    &kp Q   &kp W   &kp E   &kp R                         &none  &none  &none  &none  &none  &none
&kp LSHFT  &kp LCTRL  &kp A   &kp S   &kp D   &kp G                         &none  &none  &none  &none  &none  &none
&none      &kp N6     &kp N7  &kp N8  &kp N9  &kp N0  &kp B        &to DEF  &none  &none  &none  &none  &none  &none
                              &none   &none   &kp Z   &kp SPACE    &to SYS  &none  &none  &none
            >;
        };

        SYS_layer {
            label = "SYS";
            display-name = "System";
            bindings = <
&none  &none  &none  &none  &none  &bt BT_CLR                     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none
&none  &none  &none  &none  &none  &none                          &none         &none         &none         &none         &none         &none
&none  &none  &none  &none  &none  &bootloader                    &bootloader   &none         &none         &none         &none         &none
&none  &none  &none  &none  &none  &sys_reset   &none    &to DEF  &sys_reset    &none         &none         &none         &none         &none
                     &none  &none  &none        &none    &none    &none         &none         &none
            >;
        };
    };
};
